body {
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.nav-link,
.nav-item {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.push-navbar-down {
  height: 70px;
}

.rotom-pokedex-text{
    font-family: "Roboto Mono", monospace;
}

.rotom-pokedex-pic {
  display: block;
  max-width: 12rem;
  max-height: 12rem;
  width: auto;
  height: auto;
}

.type-icon {
  height: 23px;
}

.ui-progressbar {
  height: 15px;
}

.ui-progressbar-value {
  height: 15px;
  background-color: rgb(115, 115, 255);
}

.card-img-top {
    display: block;
    max-width: 14rem;
    max-height: 14rem;
}

.navbar {
  background-color: #c83033;
}

.save-section-image{
    max-height: 16rem;
}

.flavor-text{
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

h1 {
  font-family: "Roboto Mono", monospace;
}
