.push-navbar-down{
    height: 70px;
}

.type-icon{
    height:23px;
}

.ui-progressbar{
    height:15px;
}

.ui-progressbar-value{
    height:15px;
    background-color: rgb(115, 115, 255);
}

.card-img-top{
    height:20rem;
    width: 20rem;
}